<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form id="jobs-filter" class="form-inline">
    <div class="select-wrapper">
    <f:form.select id="jobs-filter-career-levels" class="form-control change-listener" options="{careerLevels}"
                   optionLabelField="val"
                   optionValueField="val"
                   prependOptionLabel="{f:translate(key:'plugin_softgarden.filter.no_selection_levels')}"
                   prependOptionValue=""/>
    </div>
    <div class="select-wrapper">
    <f:form.select id="jobs-filter-locations" class="form-control change-listener" options="{locations}"
                   optionLabelField="val"
                   optionValueField="val"
                   prependOptionLabel="{f:translate(key:'plugin_softgarden.filter.no_selection_locations')}"
                   prependOptionValue=""/>
    </div>
</f:form>
<noscript>
    <div class="alert alert-warning">
        <p>
            <f:translate key="plugin_softgarden.filter.noscript_alert"/>
        </p>
    </div>
</noscript>
</html>