<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tx_ricosoftgarden">
    <f:render section="Content" />
    <div class="d-none">
        <div class="resultbox"></div>
    </div>
</div>
</html>