<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Softgarden"/>
<f:section name="Content">
    <f:flashMessages/>
    <f:render partial="Softgarden/Filter" arguments="{locations:locations, careerLevels:careerLevels}"/>
    <f:if condition="{jobs}">
        <f:then>
            <div class="row header">
                <div class="col-xl-5 col-lg-5 col-md-5 d-none d-md-block">
                    <f:translate key="plugin_softgarden.listing.header.title"/>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block">
                    <f:translate key="plugin_softgarden.listing.header.category"/>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block">
                    <f:translate key="plugin_softgarden.listing.header.location"/>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block">
                    <f:translate key="plugin_softgarden.listing.header.start"/>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 d-none d-md-block"></div>
            </div>
            <f:for each="{jobs}" as="job">
                <f:render partial="Softgarden/Properties"
                          arguments="{job:job, locations:locations, careerLevels:careerLevels}"/>
            </f:for>
        </f:then>
        <f:else>
            <div class="alert alert-info">
                <f:translate key="plugin_softgarden.no_jobs"/>
            </div>
        </f:else>
    </f:if>
</f:section>
</html>