@green: #46a328;
@font-face {
    font-family: 'Dosis';
    src: url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.eot');
    src: url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
    url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.woff2') format('woff2'),
    url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.woff') format('woff'),
    url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.svg#Dosis-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tx_ricosoftgarden {
    .resultbox {
        -ms-overflow-style:scrollbar;
    }
    #jobs-filter {
        position: absolute;
        top: -90px;
        right: 10%;
        @media (max-width: 991px) {
            right: 0;
            top: -70px;
        }
        @media (max-width: 575px) {
            position: relative;
            display: inline;
            top: 0;
        }

        .select-wrapper {
            position: relative;
            margin-right: 20px;
            @media (max-width: 575px) {
                margin: 0;
            }
            &:after {
                font-family: FontAwesome;
                content: '\f107';
                font-size: 28px;
                position: absolute;
                top: 0;
                right: 20px;
                color: white;
                pointer-events: none;
            }
            select {
                background: @green;
                border: 1px solid white;
                border-radius: 0;
                width: 100%;
                min-width: 200px;
                padding: 0 50px 0 15px;
                font-size: 16px;
                color: white;
                text-transform: uppercase;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
                @media (max-width: 575px) {
                    margin: 5px 0 5px 0;
                    height: 50px;
                }
            }
            select::-ms-expand {
                display: none;
            }
            &:hover {
                select {
                    background: white;
                    color: @green;
                }
                &:after {
                    font-family: FontAwesome;
                    content: '\f107';
                    font-size: 28px;
                    position: absolute;
                    top: 0;
                    right: 20px;
                    color: @green;
                }
            }
        }
    }
    .header {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 15px;
    }
    .job {
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
        .rowborder {
            position: relative;
            border: 1px solid @green;
            padding: 11px 15px;
            display: block;
            margin: 10px 0 10px 0;
            @media (max-width: 767px) {
                padding: 0px 15px;
                margin: 10px 0 0 0;
                height: auto;
            }
            p {
                margin-top: 10px;
                @media (max-width: 767px) {
                    margin-top: 5px;
                }
            }
            @media (max-width: 767px) {
                border: none;
                .jobtitle {
                    font-weight: 900;
                }
            }
            .more {
                width: 60px;
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 50px;
                    color: white;
                    line-height: .9;
                    @media (max-width: 991px) {
                        line-height: .8;
                    }
                }
            }
        }
        .btn-primary {
            background-color: @green;
            color: white;
            margin: 5px 0;
        }
        @media (max-width: 767px) {
            .btn-primary {
                width: 100%;
            }
        }
        .clbg-green {
            i {
                color: white;
            }
            background-color: @green;
        }
    }
}
.fancybox-container {
    h1 {
        font-family: 'Dosis', sans-serif;
        margin: 0 0 2% 0;
        font-weight:400;
    }
    header .header-info {
        background-color: #E2031A;
        color: #FFFFFF;
        position: relative;
        padding: 3% 0;
        line-height: 1.1;
    }
    .container {
        margin: 25px auto;
        background-color: #FFFFFF;
        max-width:940px;
    }
    .section {
        padding: 30px 60px;
    }
    .section ul {
        color: #000000;
        line-height: 1.4;
        padding-left: 20px;
    }
    .section-border {
        border-bottom: 1px solid #dde1e2;
    }
    .section p,.section a, .section .section-content__body {
        color: #000000;
    }
    .section a {
        text-decoration:underline;
        float:none;
    }
    .section-button {
        padding: 50px 0px;
    }
    .section h2, .section .section-content__title {
        color: #000000;
        font-weight: 600;
    }
    .header-ct {
        text-align: center;
    }
    .logo-ct {
        text-align: right;
    }
    .logo-ct > img {
        max-height: 120px;
        height: auto;
        width: auto;
        max-width: 100%;
    }
    .logo-bottom {
        margin-top: 2%;
    }
    .logo-top {
        margin-bottom: 2%;
    }
    #job-header-info .job-contract-type {
        padding-left: 0px;
        background: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: #4f5d60;
        padding: 3px 4px;
        text-transform: uppercase;
        font-size: 0.6em;
    }
    #job-header-info li {
        margin: 0 10px 10px 10px;
        background: transparent url(//static.softgarden.de/images/jobad/bp2014/sprite-icons.png) no-repeat left top;
        padding-left: 16px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
    }
    #job-header-info .experience-light-icon {
        background-position: 0 -19px;
    }
    #job-header-info .location-light-icon {
        background-position: 0 0;
    }
    #job-header-info .job-location {
        color: #FFFFFF;
    }
    #job-header-info .date-light-icon {
        background-position: 0 -40px;
    }
    .row .grid_6 {
        width: 50%;
    }
    .social li {
        font-family: FontAwesome, serif;
    }
    footer ul {
        float: right;
        padding: 0 !important;
        margin: -5px 0 0 0;
        list-style: none;
    }
    footer ul li {
        float: left;
        width: 25px;
        margin: 0 0 0 10px;
        background-color: #5e696e;
        position: relative;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    .align-right {
        text-align: right;
    }
    .align-center {
        text-align: center;
    }
    .btn {
        text-align: center;
        color: #FFFFFF;
        padding: 0.6em 4em;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
        background-color: #E2031A;
    }
}