@font-face {
  font-family: 'Dosis';
  src: url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.eot');
  src: url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.eot?#iefix') format('embedded-opentype'), url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.woff2') format('woff2'), url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.woff') format('woff'), url('/typo3conf/ext/rico_softgarden/Resources/Public/Fonts/Dosis-Regular.svg#Dosis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.tx_ricosoftgarden #jobs-filter {
  position: absolute;
  top: -90px;
  right: 10%;
}
@media (max-width: 991px) {
  .tx_ricosoftgarden #jobs-filter {
    right: 0;
    top: -70px;
  }
}
@media (max-width: 575px) {
  .tx_ricosoftgarden #jobs-filter {
    position: relative;
    display: inline;
    top: 0;
  }
}
.tx_ricosoftgarden #jobs-filter .select-wrapper {
  position: relative;
  margin-right: 20px;
}
@media (max-width: 575px) {
  .tx_ricosoftgarden #jobs-filter .select-wrapper {
    margin: 0;
  }
}
.tx_ricosoftgarden #jobs-filter .select-wrapper:after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 28px;
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  pointer-events: none;
}
.tx_ricosoftgarden #jobs-filter .select-wrapper select {
  background: #46a328;
  border: 1px solid white;
  border-radius: 0;
  width: 100%;
  min-width: 200px;
  padding: 0 50px 0 15px;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
@media (max-width: 575px) {
  .tx_ricosoftgarden #jobs-filter .select-wrapper select {
    margin: 5px 0 5px 0;
    height: 50px;
  }
}
.tx_ricosoftgarden #jobs-filter .select-wrapper select::-ms-expand {
  display: none;
}
.tx_ricosoftgarden #jobs-filter .select-wrapper:hover select {
  background: white;
  color: #46a328;
}
.tx_ricosoftgarden #jobs-filter .select-wrapper:hover:after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 28px;
  position: absolute;
  top: 0;
  right: 20px;
  color: #46a328;
}
.tx_ricosoftgarden .header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .tx_ricosoftgarden .job {
    margin-bottom: 15px;
  }
}
.tx_ricosoftgarden .job .rowborder {
  position: relative;
  border: 1px solid #46a328;
  padding: 11px 15px;
  display: block;
  margin: 10px 0 10px 0;
}
@media (max-width: 767px) {
  .tx_ricosoftgarden .job .rowborder {
    padding: 0px 15px;
    margin: 10px 0 0 0;
    height: auto;
  }
}
.tx_ricosoftgarden .job .rowborder p {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .tx_ricosoftgarden .job .rowborder p {
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .tx_ricosoftgarden .job .rowborder {
    border: none;
  }
  .tx_ricosoftgarden .job .rowborder .jobtitle {
    font-weight: 900;
  }
}
.tx_ricosoftgarden .job .rowborder .more {
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tx_ricosoftgarden .job .rowborder .more i {
  font-size: 50px;
  color: white;
  line-height: 0.9;
}
@media (max-width: 991px) {
  .tx_ricosoftgarden .job .rowborder .more i {
    line-height: 0.8;
  }
}
.tx_ricosoftgarden .job .btn-primary {
  background-color: #46a328;
  color: white;
  margin: 5px 0;
}
@media (max-width: 767px) {
  .tx_ricosoftgarden .job .btn-primary {
    width: 100%;
  }
}
.tx_ricosoftgarden .job .clbg-green {
  background-color: #46a328;
}
.tx_ricosoftgarden .job .clbg-green i {
  color: white;
}
.fancybox-container h1 {
  font-family: 'Dosis', sans-serif;
  margin: 0 0 2% 0;
  font-weight: 400;
}
.fancybox-container header .header-info {
  background-color: #E2031A;
  color: #FFFFFF;
  position: relative;
  padding: 3% 0;
  line-height: 1.1;
}
.fancybox-container .container {
  margin: 25px auto;
  background-color: #FFFFFF;
  max-width: 940px;
}
.fancybox-container .section {
  padding: 30px 60px;
}
.fancybox-container .section ul {
  color: #000000;
  line-height: 1.4;
  padding-left: 20px;
}
.fancybox-container .section-border {
  border-bottom: 1px solid #dde1e2;
}
.fancybox-container .section p,
.fancybox-container .section a,
.fancybox-container .section .section-content__body {
  color: #000000;
}
.fancybox-container .section a {
  text-decoration: underline;
  float: none;
}
.fancybox-container .section-button {
  padding: 50px 0px;
}
.fancybox-container .section h2,
.fancybox-container .section .section-content__title {
  color: #000000;
  font-weight: 600;
}
.fancybox-container .header-ct {
  text-align: center;
}
.fancybox-container .logo-ct {
  text-align: right;
}
.fancybox-container .logo-ct > img {
  max-height: 120px;
  height: auto;
  width: auto;
  max-width: 100%;
}
.fancybox-container .logo-bottom {
  margin-top: 2%;
}
.fancybox-container .logo-top {
  margin-bottom: 2%;
}
.fancybox-container #job-header-info .job-contract-type {
  padding-left: 0px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #4f5d60;
  padding: 3px 4px;
  text-transform: uppercase;
  font-size: 0.6em;
}
.fancybox-container #job-header-info li {
  margin: 0 10px 10px 10px;
  background: transparent url(//static.softgarden.de/images/jobad/bp2014/sprite-icons.png) no-repeat left top;
  padding-left: 16px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.fancybox-container #job-header-info .experience-light-icon {
  background-position: 0 -19px;
}
.fancybox-container #job-header-info .location-light-icon {
  background-position: 0 0;
}
.fancybox-container #job-header-info .job-location {
  color: #FFFFFF;
}
.fancybox-container #job-header-info .date-light-icon {
  background-position: 0 -40px;
}
.fancybox-container .row .grid_6 {
  width: 50%;
}
.fancybox-container .social li {
  font-family: FontAwesome, serif;
}
.fancybox-container footer ul {
  float: right;
  padding: 0 !important;
  margin: -5px 0 0 0;
  list-style: none;
}
.fancybox-container footer ul li {
  float: left;
  width: 25px;
  margin: 0 0 0 10px;
  background-color: #5e696e;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.fancybox-container img {
  height: auto;
  max-width: 100%;
}
.fancybox-container .align-right {
  text-align: right;
}
.fancybox-container .align-center {
  text-align: center;
}
.fancybox-container .btn {
  text-align: center;
  color: #FFFFFF;
  padding: 0.6em 4em;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #E2031A;
}
/*# sourceMappingURL=softgarden.css.map */